<div class="card">
    <div class="card-body">

        <form
        autocomplete="off"
        [formGroup]="pagoForm">

        <div class="form-check mt-2 mb-2">
            <div class="row">
                <div class="col-6">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked
                    (change)="marcarContado($event)">
                    <strong><label class="form-check-label colorTexto" for="flexRadioDefault1">Pago Contado</label></strong>
                </div>
                <div class="col-6">
                    <strong><label class="colorTexto">HNL {{ clienteSldo | number:'1.2-2' }}</label></strong>
                </div>
            </div>
        </div>

        <div class="form-check">
            <div class="row">
                <div class="col-6">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                    (change)="marcarParcial($event)">
                    <label class="form-check-label" for="flexRadioDefault2">Otro monto</label>
                </div>
                <div class="col-6 align-items-center">
                    <div class="d-flex ">
                        <label class="form-label me-2"><strong>HNL</strong></label>
                        <input type="number" class="form-control p-2" [readonly]="NopagarParcial" 
                         (ngModelChange)="onPercentChange($event)"
                            placeholder="Ingrese el monto" formControlName="montoParcial">
                    </div>
                    <div *ngIf="montoParcialRequerrido" style="margin-top: 1px;">
                        <span class="text-danger">El monto es <strong> requerido!</strong></span>
                    </div>
                    <div *ngIf="montoParcialValido" style="margin-top: 1px;">
                        <span class="text-danger">El monto parcial no puede ser <strong>MAYOR</strong> que el saldo total.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 form-row">
            <label class="form-label"><strong>Nombre de tarjeta</strong></label>

            <input type="text" class="form-control p-2"
                placeholder="Nombre de tarjeta" formControlName="nombreTarjeta">

            <div *ngIf="pagoForm.get('nombreTarjeta')?.hasError('required') && pagoForm.get('nombreTarjeta')?.touched" style="margin-top: 1px;">
                <span class="text-danger">El nombre de la tarjeta es <strong> requerido</strong></span>
            </div>
            <div *ngIf="pagoForm.get('nombreTarjeta')?.hasError('maxlength') && pagoForm.get('nombreTarjeta')?.touched" style="margin-top: 1px;">
                <span class="mda-form-msg text-danger">El nombre de la tarjeta no tiene que exceder de :<strong> 20 caracteres</strong></span>
            </div>
        </div>

        <div class="mb-3 form-row">

            <label class="form-label"><strong>Número de tarjeta</strong></label>
            <input type="text" class="form-control p-2"
                placeholder="0000 0000 0000 0000" formControlName="numeroTarjeta">

            <div *ngIf="pagoForm.get('numeroTarjeta')?.hasError('required') && pagoForm.get('numeroTarjeta')?.touched" style="margin-top: 1px;">
                <span class="text-danger">El número de la tarjeta es <strong> requerido</strong></span>
            </div>
            <div *ngIf="pagoForm.get('numeroTarjeta')?.hasError('maxlength') && pagoForm.get('numeroTarjeta')?.touched" style="margin-top: 1px;">
                <span class="mda-form-msg text-danger">El número de la tarjeta no tiene que exceder de :<strong> 20 caracteres</strong></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                <div class="mb-3 form-row">

                    <label class="form-label"><strong>Fecha de vencimiento</strong></label>

                    <div class="input-group mb-3">
                        <input type="number" class="form-control p-2 borderDerecha"
                        placeholder="MM" formControlName="mm">

                        <span class="input-group-text spanDiv fw-light" id="basic-addon1">/</span>

                        <input type="number" class="form-control p-2 borderIzquierda"
                        placeholder="AA" formControlName="aa">
                    </div>

                        <div *ngIf="pagoForm.get('mm')?.hasError('required') && pagoForm.get('mm')?.touched" style="margin-top: 1px;">
                            <span class="text-danger">El mes es <strong> requerido</strong></span>
                        </div>
                        <div *ngIf="pagoForm.get('mm')?.hasError('maxlength') && pagoForm.get('mm')?.touched" style="margin-top: 1px;">
                            <span class="text-danger">El mes no tiene que exceder de :<strong> 2 caracteres</strong></span>
                        </div>

                        <div *ngIf="pagoForm.get('aa')?.hasError('required') && pagoForm.get('aa')?.touched" style="margin-top: 1px;">
                            <span class="text-danger">El año es <strong> requerido</strong></span>
                        </div>
                        <div *ngIf="pagoForm.get('aa')?.hasError('maxlength') && pagoForm.get('aa')?.touched" style="margin-top: 1px;">
                            <span class="text-danger">El año no tiene que exceder de :<strong> 2 caracteres</strong></span>
                        </div>

                   
                </div>

            </div>
            <div class="col-6">

                <div class="mb-3 form-row">

                    <label class="form-label"><strong>CVC</strong></label>

                    <input type="number" class="form-control p-2"
                        placeholder="CVC" formControlName="cvc">

                    <div *ngIf="pagoForm.get('cvc')?.hasError('required') && pagoForm.get('cvc')?.touched" style="margin-top: 1px;">
                        <span class="text-danger">El CVC es <strong> requerido</strong></span>
                    </div>
                    <div *ngIf="pagoForm.get('cvc')?.hasError('maxLength') && pagoForm.get('cvc')?.touched" style="margin-top: 1px;">
                        <span class="text-danger">El CVC no tiene que exceder de :<strong> 6 caracteres</strong></span>
                    </div>
                </div>

            </div>

        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Enviar notificación a (Opcional)</strong></label>
            <input type="email" class="form-control" placeholder="usuario@ejemplo.com" formControlName="correo">
        </div>

        </form>

    </div>

    <div class="card-footer d-flex flex-row-reverse">
        <button [disabled]="this.pagoForm.invalid" type="button" class="btn btn-primary"
        (click)="pagar()">Realizar Pago</button>
    </div>
</div>




